.one 
{

    font-size: 50px; 
    
}
#two 
{

    background: red; width: 100%; text-align: center;padding: 5px 0;
    
}

#four 
{

    background: green; width: 100%; text-align: center;padding: 200px 0;
}

#six 
{

    background: red; width: 50%; text-align: center;padding: 200px 0;
}

#eigth
{
     background: blue; width: 50%; float: right; text-align: center;padding: 200px 0;
}


#ten 
{
    background: orange; width: 100%; text-align: center;padding: 100px 0;
}